.navbar
{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}
.ad
{
    font-style:italic;
    color:#00FFC6;
    padding-left: 20px;
    width:1000px;
    padding-top: 5px;
}
.nav-item
{   
    padding-left: 10px;
    padding-right: 10px;
}
.card-img-top
{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}
.hobi
{
    font-style:italic;
    text-align: center;
}
.hbclr
{
    background-color: #DFDFDE;
}
.carousel-item
{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    background-size: cover;
}
.carousel-item::before
{
    content:"" ;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
}
.carousel-caption
{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}
.carousel-caption h5
{
    font-size: 40px;
    font-weight: 200;
}
.carousel-caption p
{
    font-size: 15px;
    top: 2rem;
}
.trbtext
{
    padding: 30px;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
 .trbcgr
 {
     padding: 20px;
     background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

 }
 .trbson
 {
     padding: 20px;
    background-color: #0093E9;
     background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
     ;
 }
 .mirasp
 {
     padding: 20px;
 }
 .tshead
 {
     padding: 20px;
     padding-top: 60px;
     text-align: center;
 }
.tsbasari
{
    padding: 10px;
}
.cv
{
    padding-top: 55px;
    text-align: center;

}
.cvtext
{
    max-width: 400px;
    padding: 20px;
    font-weight: 500;
}
.cvbosluk
{
    padding: 150px;
}
.inputi
{
    max-width: 500px;
}
.iletisim
{
    background-color: antiquewhite;
}